.header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 5%;
    text-align: center;
}
.header div{
    background-color: lightseagreen;
    margin: auto;
    overflow: auto;
    width: 15%;
    height: 10vh;
    padding: 1%;
    border: 2px solid black;
    color: yellow;
    transition: 1s;
    border-radius: 100%;
    box-shadow: 2px 2px 2px 2px black;
}
.header div:hover{
    width: 18%;
}


.center {
    margin: 5%;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    transition: 1s;
    border-radius: 5%;
}

.center:hover {
    background-color: rgba(255, 255, 255, 0.493);
}

.center div {
  margin: 3%; 
  background-color: rgba(0, 0, 0, 0.014);
  width:100%;
  border-radius: 5%;
  box-shadow: 2px 4px 10px 5px rgba(0, 0, 0, 0.541);
}

#first {
    float: right;
    color: wheat;
    width: 15%;
    max-height: 100%;
    padding: 1%;
    margin: -1% -1%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transition: 1s;
    border-left:  1px solid black;
    box-shadow: 0px 0px 2px 2px black;
}

#first:hover {
    background-color: tomato;
}

#second {
    float: left;
    width: 82%;
    box-shadow: 0px 0px 2px 2px black;
    margin-top: -1%;
    transition: 1s;
    background-color: rgba(255, 255, 255, 0.534);
}
#second:hover{
    background-color: wheat;
}

.ele {
    width: 100%;
    margin: 10% 0%;
    transition: 1s;
    color: rgb(8, 8, 8);
    background-image: url(main.jpg);
    border-radius: 100%;
    box-shadow: 2px 2px 2px 2px black;
}

html, body {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 145%;
    background-image: url(main.jpg);
    cursor: none;
}

input[type="checkbox"] {
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    cursor: none;
}

label { cursor: none;}

h1{
    color: tomato;
}

#cursor {
    width: 2rem;
    height: 2rem;
    border: 2px solid black;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    pointer-events: none;
    box-shadow: 0 0 10px 2px aqua;
    background-color: rgba(0, 255, 255, 0.253);
}
