.header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 5%;
    text-align: center;
}
.header div{
    background-color: lightseagreen;
    margin: auto;
    overflow: auto;
    width: 15%;
    height: 10vh;
    padding: 1%;
    border: 2px solid black;
    color: yellow;
    transition: 1s;
    border-radius: 100%;
    box-shadow: 2px 2px 2px 2px black;
}
.header div:hover{
    width: 18%;
}

h1{
    color: rgb(162, 0, 255);
}

.center {
    margin: 3%;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    transition: 1s;
    border-radius: 5%;
}

.center:hover {
    background-color: rgba(255, 255, 255, 0.493);
}

.center div {
  margin: 3%; 
  background-color: rgba(0, 0, 0, 0.014);
  width:100%;
  border-radius: 5%;
  box-shadow: 2px 4px 10px 5px rgba(0, 0, 0, 0.541);
}

#first {
    float: right;
    color: wheat;
    width: 15%;
    max-height: 115%;
    padding: 1%;
    margin: 2% -1% 0% 0%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transition: 1s;
    border-left:  1px solid black;
    box-shadow: 0px 0px 2px 2px black;
    border-top-left-radius: 10%;
    background-color: rgb(255, 143, 123);
}

#first:hover {
    background-color: rgb(255, 38, 0);
}

#second {
    float: left;
    width: 70%;
    box-shadow: 0px 0px 2px 2px black;
    margin: 2% 0% 0% 5%;
    transition: 1s;
    background-color: rgba(255, 255, 255, 0.534);
    border-radius: 10%;
    background-color: rgb(255, 223, 164);
}
#second:hover{
    background-color: rgb(255, 166, 0);
    color: rgb(183, 0, 255);
}

.ele {
    width: 100%;
    margin: 10% 0%;
    transition: 1s;
    color: rgb(8, 8, 8);
    background-image: url(main.jpg);
    border-radius: 100%;
    box-shadow: 2px 2px 2px 2px black;
}

html, body {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 130%;
    background-image: url(main.jpg);
    cursor: none;
}

input[type="checkbox"] {
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    cursor: none;
}

label { cursor: none;}


#cursor {
    width: 2rem;
    height: 2rem;
    border: 2px solid black;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    pointer-events: none;
    box-shadow: 0 0 10px 2px aqua;
    background-color: rgba(0, 255, 255, 0.253);
}


/* media quires */

@media screen and (max-width: 850px) and (min-width: 700px) {
    body {
        height: 100%;
    }
    #first {
        max-height: 120%;
    }
}

@media screen and (max-width: 700px) and (min-width: 450px) {
    body {
        height: 95%;
    }
    #first {
        max-height: 95%;
    }
}

@media screen and (max-width: 450px) and (min-width: 200px) {
    body {
        height: 80%;
    }
    #first {
        max-height: 80%;
    }
}